<?xml version="1.0" encoding="UTF-8"?>
<web-app
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
version="3.0">

 <!-- les servlets-->

<!-- package: index -->

<servlet>
<servlet-name>Accueil</servlet-name>
<servlet-class>com.up.servlets.index.Accueil</servlet-class>
</servlet>
<servlet>
<servlet-name>Apropos</servlet-name>
<servlet-class>com.up.servlets.index.Apropos</servlet-class>
</servlet>

                 <!-- package: medecine -->

<servlet>
<servlet-name>PageMedecine</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecine</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee2</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee3</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee4</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee4</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee5</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee5</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee6</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee6</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee7</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee7</servlet-class>
</servlet>

                   <!-- page contenant les exo des matieres -->
                         <!-- annee1 -->
<servlet>
<servlet-name>PageMedecineAnnee1Anatomie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1Anatomie</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1Anglais</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1Anglais</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1Biochimie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1Biochimie</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1BiologieHumaine</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1BiologieHumaine</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1Biophysique</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1Biophysique</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1Biostatistique</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1Biostatistique</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1ChimieOrganique</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1ChimieOrganique</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1Mathematique</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1Mathematique</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1Physiologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1Physiologie</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee1Psychologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee1Psychologie</servlet-class>
</servlet>
                          <!-- annee2 -->
<servlet>
<servlet-name>PageMedecineAnnee2Anatomie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2Anatomie</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee2Anglais</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2Anglais</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee2Biochimie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2Biochimie</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee2BiologieHumaine</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2BiologieHumaine</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee2Biophysique</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2Biophysique</servlet-class>
</servlet>    
<servlet>
<servlet-name>PageMedecineAnnee2Ematologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2Ematologie</servlet-class>
</servlet>    
<servlet>
<servlet-name>PageMedecineAnnee2PsychologieMedicale</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2PsychologieMedicale</servlet-class>
</servlet> 
<servlet>
<servlet-name>PageMedecineAnnee2SanteCommunautaire</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2SanteCommunautaire</servlet-class>
</servlet>      
<servlet>
<servlet-name>PageMedecineAnnee2SemiologieChirugicale</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2SemiologieChirugicale</servlet-class>
</servlet>  
<servlet>
<servlet-name>PageMedecineAnnee2SemiologieMedicale</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2SemiologieMedicale</servlet-class>
</servlet>  
<servlet>
<servlet-name>PageMedecineAnnee2Physiologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2Physiologie</servlet-class>
</servlet>    
<servlet>
<servlet-name>PageMedecineAnnee2SoinsInfirmiers</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee2SoinsInfirmiers</servlet-class>
</servlet>                                        
                          
                      <!-- annee3 -->
<servlet>
<servlet-name>PageMedecineAnnee3AnatomiePathologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3AnatomiePathologie</servlet-class>
</servlet> 
<servlet>
<servlet-name>PageMedecineAnnee3Bacteriologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3Bacteriologie</servlet-class>
</servlet>  
<servlet>
<servlet-name>PageMedecineAnnee3Iminologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3Iminologie</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee3Parasitologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3Parasitologie</servlet-class>
</servlet>
<servlet>
<servlet-name>PageMedecineAnnee3PathologieChirugicale</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3PathologieChirugicale</servlet-class>
</servlet>   
<servlet>
<servlet-name>PageMedecineAnnee3PathologieMedicale</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3PathologieMedicale</servlet-class>
</servlet>   
<servlet>
<servlet-name>PageMedecineAnnee3MedecineUrgence</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3MedecineUrgence</servlet-class>
</servlet>   
<servlet>
<servlet-name>PageMedecineAnnee3Phamacologie</servlet-name>
<servlet-class>com.up.servlets.medecine.PageMedecineAnnee3Phamacologie</servlet-class>
</servlet>   


   

           <!-- package:  .correction medecine -->

<servlet>
<servlet-name>MedecineAnnee1AnatomieExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1AnatomieExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1AnatomieExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1AnatomieExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1AnglaisExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1AnatomieExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1AnglaisExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1AnglaisExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1BiochimieExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1BiochimieExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1BiochimieExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1BiochimieExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1BiologieHumaineExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1BiologieHumaineExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1BiologieHumaineExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1BiologieHumaineExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1BiophysiqueExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1AnatomieExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1BiophysiqueExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1AnatomieExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1BiostatistiqueExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1BiostatistiqueExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1BiostatistiqueExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1BiostatistiqueExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1ChimieOrganiqueExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1ChimieOrganiqueExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1ChimieOrganiqueExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1ChimieOrganiqueExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1MathematiqueExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1MathematiqueExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1MathematiqueExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1MathematiqueExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1PhysiologieExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1PhysiologieExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1PhysiologieExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1PhysiologieExo2Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1PsychologieExo1Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1PsychologieExo1Correction</servlet-class>
</servlet>
<servlet>
<servlet-name>MedecineAnnee1PsychologieExo2Correction</servlet-name>
<servlet-class>com.up.servlets.medecine.MedecineAnnee1PsychologieExo2Correction</servlet-class>
</servlet>


                               <!-- package: iut -->
                             <!-- page accueil des filieres pour le choix de l'annee -->
<servlet>
<servlet-name>PageIut</servlet-name>
<servlet-class>com.up.servlets.iut.PageIut</servlet-class>
</servlet>            
<servlet>
<servlet-name>PageIutAnneeTroncCommun</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnneeTroncCommun</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnneeGb</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnneeGb</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnneeGc</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnneeGc</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnneeGe</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnneeGe</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnneeGrh</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnneeGrh</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnneeGtl</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnneeGtl</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnneeIg</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnneeIg</servlet-class>
</servlet>

<servlet>
<servlet-name>PageIutAnnee1</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee1</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee2</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee2</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee3</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee3</servlet-class>
</servlet>
                       
                       <!-- filiere annee1 -->
<servlet>
<servlet-name>PageIutAnnee1Gb</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee1Gb</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee1Gc</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee1Gc</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee1Ge</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee1Ge</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee1Grh</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee1Grh</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee1Gtl</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee1Gtl</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee1Ig</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee1Ig</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee1TroncCommun</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee1TroncCommun</servlet-class>
</servlet>

                       <!-- filiere annee2 -->
<servlet>
<servlet-name>PageIutAnnee2Gb</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee2Gb</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee2Gc</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee2Gc</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee2Ge</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee2Ge</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee2Grh</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee2Grh</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee2Gtl</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee2Gtl</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee2Ig</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee2Ig</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee2TroncCommun</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee2TroncCommun</servlet-class>
</servlet>

                     <!-- filiere annee3 -->
<servlet>
<servlet-name>PageIutAnnee3Gb</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee3Gb</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee3Gc</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee3Gc</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee3Ge</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee3Ge</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee3Grh</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee3Grh</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee3Gtl</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee3Gtl</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee3Ig</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee3Ig</servlet-class>
</servlet>
<servlet>
<servlet-name>PageIutAnnee3TroncCommun</servlet-name>
<servlet-class>com.up.servlets.iut.PageIutAnnee3TroncCommun</servlet-class>
</servlet>


                        <!-- package: faseg -->
           <!-- page accueil des filieres pour le choix de l'annee -->

<servlet>
<servlet-name>PageFaseg</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFaseg</servlet-class>
</servlet>     
<servlet>
<servlet-name>PageFasegAnnee1</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee1</servlet-class>
</servlet>

             <!-- page pour le choix de l'option ou filiere-->
<servlet>
<servlet-name>PageFasegAnnee2</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee2</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee3</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee2Economie</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee2Economie</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee2Gestion</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee2Gestion</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee2TroncCommun</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee2TroncCommun</servlet-class>
</servlet>

                  <!-- matiere annee3 -->
<servlet>
<servlet-name>PageFasegAnnee3TroncCommun</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3TroncCommun</servlet-class>
</servlet>

<servlet>
<servlet-name>PageFasegAnnee3Ape</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3Ape</servlet-class>
</servlet>

<servlet>
<servlet-name>PageFasegAnnee3Ea</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3Ea</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee3Efcl</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3Efcl</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee3Efi</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3Efi</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee3Ege</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3Ege</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee3Fc</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3Fc</servlet-class>
</servlet>
<servlet>
<servlet-name>PageFasegAnnee3Mmo</servlet-name>
<servlet-class>com.up.servlets.faseg.PageFasegAnnee3Mmo</servlet-class>
</servlet>




                       <!-- les mapping -->

<!-- package: index -->

<servlet-mapping>
<servlet-name>Accueil</servlet-name>
<url-pattern>/accueil</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Apropos</servlet-name>
<url-pattern>/apropos</url-pattern>
</servlet-mapping>

           <!-- package: medecine -->

<servlet-mapping>
<servlet-name>PageMedecine</servlet-name>
<url-pattern>/medecine</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1</servlet-name>
<url-pattern>/annee1medecine</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2</servlet-name>
<url-pattern>/annee2medecine</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee3</servlet-name>
<url-pattern>/annee3medecine</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee4</servlet-name>
<url-pattern>/annee4medecine</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee5</servlet-name>
<url-pattern>/annee5medecine</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee6</servlet-name>
<url-pattern>/annee6medecine</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee7</servlet-name>
<url-pattern>/annee7medecine</url-pattern>
</servlet-mapping>

              <!-- page contenant les exo des matieres -->
                         <!-- annee1 -->
<servlet-mapping>
<servlet-name>PageMedecineAnnee1Anatomie</servlet-name>
<url-pattern>/annee1anatomie</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1Anglais</servlet-name>
<url-pattern>/annee1anglais</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1Biochimie</servlet-name>
<url-pattern>/annee1biochimie</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1BiologieHumaine</servlet-name>
<url-pattern>/annee1biologiehumaine</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1Biophysique</servlet-name>
<url-pattern>/annee1biophysique</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1Biostatistique</servlet-name>
<url-pattern>/annee1biostatistique</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1ChimieOrganique</servlet-name>
<url-pattern>/annee1chimieorganique</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1Mathematique</servlet-name>
<url-pattern>/annee1mathematique</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1Physiologie</servlet-name>
<url-pattern>/annee1physiologie</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee1Psychologie</servlet-name>
<url-pattern>/annee1psychologie</url-pattern>
</servlet-mapping>
                   
                   <!-- annee2 -->
<servlet-mapping>
<servlet-name>PageMedecineAnnee2Anatomie</servlet-name>
<url-pattern>/annee2anatomie</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2Anglais</servlet-name>
<url-pattern>/annee2anglais</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2Biochimie</servlet-name>
<url-pattern>/annee2biochimie</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2BiologieHumaine</servlet-name>
<url-pattern>/annee2biologiehumaine</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>PageMedecineAnnee2Biophysique</servlet-name>
<url-pattern>/annee2biophysique</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2Ematologie</servlet-name>
<url-pattern>/annee2ematologie</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2PsychologieMedicale</servlet-name>
<url-pattern>/annee2psychologiemedicale</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2SanteCommunautaire</servlet-name>
<url-pattern>/annee2santecommunautaire</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2SemiologieChirugicale</servlet-name>
<url-pattern>/annee2semiologiechirugicale</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2SemiologieMedicale</servlet-name>
<url-pattern>/annee2semiologiemedicale</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2Physiologie</servlet-name>
<url-pattern>/annee2physiologie</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageMedecineAnnee2SoinsInfirmiers</servlet-name>
<url-pattern>/annee2soinsinfirmiers</url-pattern>
</servlet-mapping>

                          <!-- annee3 -->
              
<servlet-mapping>
<servlet-name>PageMedecineAnnee3AnatomiePathologie</servlet-name>
<url-pattern>/annee3anatomiepathologie</url-pattern>
</servlet-mapping>     
<servlet-mapping>
<servlet-name>PageMedecineAnnee3Bacteriologie</servlet-name>
<url-pattern>/annee3bacteriologie</url-pattern>
</servlet-mapping> 
<servlet-mapping>
<servlet-name>PageMedecineAnnee3Iminologie</servlet-name>
<url-pattern>/annee3iminologie</url-pattern>
</servlet-mapping>  
<servlet-mapping>
<servlet-name>PageMedecineAnnee3MedecineUrgence</servlet-name>
<url-pattern>/annee3medecineurgence</url-pattern>
</servlet-mapping> 
<servlet-mapping>
<servlet-name>PageMedecineAnnee3Parasitologie</servlet-name>
<url-pattern>/annee3parasitologie</url-pattern>
</servlet-mapping> 
<servlet-mapping>
<servlet-name>PageMedecineAnnee3PathologieChirugicale</servlet-name>
<url-pattern>/annee3pathologiechirugicale</url-pattern>
</servlet-mapping> 
<servlet-mapping>
<servlet-name>PageMedecineAnnee3PathologieMedicale</servlet-name>
<url-pattern>/annee3pathologiemedicale</url-pattern>
</servlet-mapping> 
<servlet-mapping>
<servlet-name>PageMedecineAnnee3Phamacologie</servlet-name>
<url-pattern>/annee3phamacologie</url-pattern>
</servlet-mapping> 
                   
                   

       <!-- package:  .correction medecine -->

<servlet-mapping>
<servlet-name>MedecineAnnee1AnatomieExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_anatomie_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1AnatomieExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_anatomie_exo2_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1AnglaisExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_anglais_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1AnglaisExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_anglais_exo2_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1BiochimieExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_biochimie_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1BiologieHumaineExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_biologie_humaine_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1BiologieHumaineExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_biologie_humaine_exo2_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1BiophysiqueExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_biophysique_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1BiophysiqueExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_biophysique_exo2_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1BiostatistiqueExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_biostatistique_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1BiostatistiqueExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_biostatistique_exo2_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1ChimieOrganiqueExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_chimie_organique_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1ChimieOrganiqueExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_chimie_organique_exo2_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1MathematiqueExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_mathematique_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1MathematiqueExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_mathematique_exo2_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1PhysiologieExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_physiologie_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1PhysiologieExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_physiologie_exo2_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1PsychologieExo1Correction</servlet-name>
<url-pattern>/medecine_annee1_psychologie_exo1_correction</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MedecineAnnee1PsychologieExo2Correction</servlet-name>
<url-pattern>/medecine_annee1_psychologie_exo2_correction</url-pattern>
</servlet-mapping>



                          <!-- package: iut -->
                   <!-- page accueil des filieres pour le choix de l'annee-->
  
<servlet-mapping>
<servlet-name>PageIut</servlet-name>
<url-pattern>/iut</url-pattern>
</servlet-mapping>                 
<servlet-mapping>
<servlet-name>PageIutAnneeTroncCommun</servlet-name>
<url-pattern>/anneetronccommun</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnneeGb</servlet-name>
<url-pattern>/anneegb</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnneeGc</servlet-name>
<url-pattern>/anneegc</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnneeGe</servlet-name>
<url-pattern>/anneege</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnneeGrh</servlet-name>
<url-pattern>/anneegrh</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnneeGtl</servlet-name>
<url-pattern>/anneegtl</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnneeIg</servlet-name>
<url-pattern>/anneeig</url-pattern>
</servlet-mapping>

                          <!-- les page listes matieres -->

<servlet-mapping>
<servlet-name>PageIutAnnee1</servlet-name>
<url-pattern>/annee1iut</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee2</servlet-name>
<url-pattern>/annee2iut</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee3</servlet-name>
<url-pattern>/annee3iut</url-pattern>
</servlet-mapping>

                  <!-- filiere annee1 -->
<servlet-mapping>
<servlet-name>PageIutAnnee1Gb</servlet-name>
<url-pattern>/annee1gb</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee1Gc</servlet-name>
<url-pattern>/annee1gc</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee1Ge</servlet-name>
<url-pattern>/annee1ge</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee1Grh</servlet-name>
<url-pattern>/annee1grh</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee1Gtl</servlet-name>
<url-pattern>/annee1gtl</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee1Ig</servlet-name>
<url-pattern>/annee1ig</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee1TroncCommun</servlet-name>
<url-pattern>/annee1tronccommun</url-pattern>
</servlet-mapping>

                     <!-- filiere annee2 -->
<servlet-mapping>
<servlet-name>PageIutAnnee2Gb</servlet-name>
<url-pattern>/annee2gb</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee2Gc</servlet-name>
<url-pattern>/annee2gc</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee2Ge</servlet-name>
<url-pattern>/annee2ge</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee2Grh</servlet-name>
<url-pattern>/annee2grh</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee2Gtl</servlet-name>
<url-pattern>/annee2gtl</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee2Ig</servlet-name>
<url-pattern>/annee2ig</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee2TroncCommun</servlet-name>
<url-pattern>/annee2tronccommun</url-pattern>
</servlet-mapping>

                      <!-- filiere annee3 -->
<servlet-mapping>
<servlet-name>PageIutAnnee3Gb</servlet-name>
<url-pattern>/annee3gb</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee3Gc</servlet-name>
<url-pattern>/annee3gc</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee3Ge</servlet-name>
<url-pattern>/annee3ge</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee3Grh</servlet-name>
<url-pattern>/annee3grh</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee3Gtl</servlet-name>
<url-pattern>/annee3gtl</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee3Ig</servlet-name>
<url-pattern>/annee3ig</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageIutAnnee3TroncCommun</servlet-name>
<url-pattern>/annee3tronccommun</url-pattern>
</servlet-mapping>
 
                     <!-- package: faseg -->
                   <!-- page accueil des filieres pour le choix de l'annee-->

<servlet-mapping>
<servlet-name>PageFaseg</servlet-name>
<url-pattern>/faseg</url-pattern>
</servlet-mapping>     
<servlet-mapping>
<servlet-name>PageFasegAnnee1</servlet-name>
<url-pattern>/annee1faseg</url-pattern>
</servlet-mapping>

        <!-- page pour le choix de l'option ou filiere-->

<servlet-mapping>
<servlet-name>PageFasegAnnee2</servlet-name>
<url-pattern>/annee2faseg</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee3</servlet-name>
<url-pattern>/annee3faseg</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee2Economie</servlet-name>
<url-pattern>/annee2fasegeconomie</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee2Gestion</servlet-name>
<url-pattern>/annee2faseggestion</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee2TroncCommun</servlet-name>
<url-pattern>/annee2fasegtronccommun</url-pattern>
</servlet-mapping>
 
                    <!--  matiere annee 3 -->
<servlet-mapping>
<servlet-name>PageFasegAnnee3TroncCommun</servlet-name>
<url-pattern>/annee3fasegtronccommun</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee3Ape</servlet-name>
<url-pattern>/annee3fasegape</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee3Ea</servlet-name>
<url-pattern>/annee3fasegea</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee3Efi</servlet-name>
<url-pattern>/annee3fasegefi</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee3Efcl</servlet-name>
<url-pattern>/annee3fasegefcl</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee3Ege</servlet-name>
<url-pattern>/annee3fasegege</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee3Fc</servlet-name>
<url-pattern>/annee3fasegfc</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PageFasegAnnee3Mmo</servlet-name>
<url-pattern>/annee3fasegmmo</url-pattern>
</servlet-mapping>








</web-app>